Icon?
build
*.mode*
*.pbxuser
*.perspectivev3
*.log
*.xcworkspace
*.xcworkspace/
xcuserdata
*.DS_Store
.idea/*
/AppleDoc/
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.gcno
*.orig

# CocoaPods
Pods/
Pods
testFramework
*.pbxproj
iOSAutoArchiveScript/

